body {
    background-color: #00CCFF; 
    color:white; 
    font-size: 21px;
}

p {
    color: blue;
}

h1 {
    font-size: 70px;
    color:red;
}
span {
    color: yellow;
    font-size: 40px;
    font-family: sans-serif;
}
#top-section{
    background:pink;
}
#bottom-section{
    background: pink;
}
.Intro{
    font-size: 30px;
}
.accent{
    color: green;
}

/*this ismy comment
Margin
Border
padding
*/

